In [42]:
import pandas as pd
import numpy as np
from pathlib import Path

In [43]:
# Settings
input_file = Path("grades_2025.xlsx")
output_file = Path("grades_2025_extract.xlsx")
df = pd.read_excel(input_file, engine="openpyxl")
df.head()

,First name,Last name,Username,ID number,Email address,Groups,Assignment 1,Marker 1,Assignment 2,Marker 2,Assignment 3,Marker 3,Total,Demonstrator Choice,Extra Point,Extra
0,Mariam,Abdulrazaq,3025926a,3025926,3025926A@student.gla.ac.uk,NaN,5.0,Niamh,7.0,Niamh,7.0,Khiem,19.0,NaN,NaN,Extra points: attending lectures
1,Angus,Adam,2887766a,2887766,2887766A@student.gla.ac.uk,NaN,2.0,Fin,3.0,Doris,2.0,Khiem,7.0,NaN,NaN,NaN
2,Haroon,Al-saleh,3001288a,3001288,3001288A@student.gla.ac.uk,NaN,3.0,Fin,6.0,Khiem,3.0,Khiem,12.0,NaN,NaN,NaN
3,Megan,Allen,2844769a,2844769,2844769A@student.gla.ac.uk,NaN,4.0,Niamh,5.0,Niamh,2.0,Huy,11.0,NaN,NaN,NaN
4,Hour,Alqattan,2721554a,2721554,2721554A@student.gla.ac.uk,NaN,6.0,Khiem,7.0,Khiem,4.0,Khiem,17.0,NaN,NaN,Extra points: attending lectures

In [44]:
desired_columns = ["First name", "Last name", "ID number", "Email address", "Assignment 1", "Marker 1", "Assignment 2", "Marker 2", "Assignment 3", "Marker 3"]
ids_to_drop = [2577950, 2597473, 106206, 3035565, 334275, 2787095]

In [45]:
df = df[desired_columns]
df = df.fillna(0)

In [46]:
# Drop rows with specified ID numbers (coerce to numeric for comparison)
id_numeric = pd.to_numeric(df["ID number"], errors="coerce")
id_numeric

0      3025926
1      2887766
2      3001288
3      2844769
4      2721554
        ...
132    2861590
133    2758950
134    2888784
135    2841035
136    2879275
Name: ID number, Length: 137, dtype: int64

In [47]:
df_to_drop = df.loc[id_numeric.isin(ids_to_drop)]
df_to_drop

,First name,Last name,ID number,Email address,Assignment 1,Marker 1,Assignment 2,Marker 2,Assignment 3,Marker 3
17,Doris,Chung,2577950,2577950C@student.gla.ac.uk,0.0,0,0.0,0,0.0,0
29,Niamh,Faherty,2597473,2597473F@student.gla.ac.uk,0.0,0,0.0,0,0.0,0
37,Stuart,Grey,106206,Stuart.Grey@glasgow.ac.uk,0.0,0,0.0,0,0.0,0
57,Huy,Le,3035565,3035565L@student.gla.ac.uk,0.0,0,0.0,0,0.0,0
92,Khiem,Nguyen,334275,Khiem.Nguyen@glasgow.ac.uk,0.0,0,0.0,0,0.0,0
102,Findlay,Read,2787095,2787095R@student.gla.ac.uk,0.0,0,0.0,0,0.0,0

In [49]:
df_to_keep = df[~id_numeric.isin(ids_to_drop)]
df_to_keep.to_excel(output_file, index=False, engine="openpyxl")
print(f"Saved {len(df)} rows to {output_file}")

Saved 137 rows to grades_2025_extract.xlsx